.App {
  font-family: "Barlow" !important;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 70px;
  z-index: 200;
}
.navbar-brand {
  font-weight: bolder;
}

p {
  line-height: 1.6rem;
}

.text-primary {
  color: rgb(141, 155, 243) !important;
}
.btn-warning {
  box-shadow: 0px 4px 0px rgba(240, 202, 65, 0.3);
  color: #fff;
  background-color: #f0ca41;
}
.btn-secondary {
  background-color: #74778d;
}
textarea {
  border: inherit !important;
  padding: 3rem;
}
textarea:focus {
  border: inherit !important;
  box-shadow: none !important;
  resize: none !important;
}
label {
  color: rgb(141, 155, 243);
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: rgb(141, 155, 243);
  outline: 0;
  box-shadow: inherit;
}

.article-window{
  resize: horizontal;
} 
.article-title {
  color: rgb(141, 155, 243);
}

.article-paragraph {
  transition: 0.3s;
}
.article-paragraph:hover {
  color: #f0ca41;
  cursor: pointer;
}

.section-dynamic {
  position: relative;
  height: 100%;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}
.typewritter {
  position: absolute;
  width: 100%;
  bottom: 0;
}
