.App {
  font-family: "Barlow" !important;
  display: flex;
    flex-direction: column;
    height: 100vh;
}

.navbar {
  box-shadow: 0px 4px 20px rgb(141, 155, 243, 0.3);
  height: 70px;
  z-index: 200;
}

p {
  line-height: 1.6rem;
}
/* .btn {
  border-radius: 10px;
  padding: 0.5rem 1rem;

} */
.btn-warning {
  box-shadow: 0px 4px 0px rgba(240, 202, 65, 0.3);
  color: #fff;
  background-color: #f0ca41;
}
.btn-secondary {
  background-color: #74778d;
  font-weight: bold;
}
textarea {
  border: inherit !important;
  padding: 3rem;
}
textarea:focus {
  border: inherit !important;
  box-shadow: none !important;
  resize: none !important;
}
.article-title {
  color: rgb(141, 155, 243);
}

.article-paragraph {
  transition: 0.3s;
}
.article-paragraph:hover {
  color: #74778d;
}

.section-dynamic {
  position: relative;
  height: 100%;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}
.typewritter {
  position: absolute;
  width: 100%;
  bottom: 0;
}
